body{
	background: blue;
}

h1{
	font-style: arial;
	font-size: 50px;
	color: green;
}

p{
	font-weight: bold;
	color: white;
}
aside{
	background-color: black;
}

div{
	height: 150px;
	margin: 10% ;
	width: 80%;
	display: inline-block;
	background: red;
}

footer>div{
	height: 50px;
	width: 80%;
	display: inline-block;
	background: white;
}
footer>div>p{
	color: black;
}

@media screen and (min-width: 480px){
	body{
		background: white;

	}

}

@media screen and (min-width: 767px){
	body{
		background: chocolate;
		
	}

	div{
		width: 40%;
		margin: 4%;
	}


}

@media screen and (min-width: 950px){
	body{
		background: green;
		
	}

	div{
		width: 28%;
		margin: 2%;
	}


}